<a href="https://colab.research.google.com/github/pavitraladdi12-mhg/Ecommerce-_wibsite/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Take user name and age, then print: "hello"<name>, you are <age> year old.
name=input("enter the name")
age = input("enter the age")
print("hello",name,"you are",age,"year old")

enter the namepavitra
enter the age23
hello pavitra you are 23 year old

In [3]:
# Take two number and print thire sum
num1 = int(input("enter the first number: "))
num2 = int(input("enter the second number: "))
print("the sum is",num1+num2)

enter the first number: 20
enter the second number: 50
the sum is 70

In [4]:
# Take two number and print the deffference
num1=int(input("enter the first number: "))
num2=int(input("enter the second number: "))
deffference = num1 -num2
print("the difference is",deffference)

enter the first number: 30
enter the second number: 20
the difference is 10

In [5]:
#Taken two num and print the product of two numbers
num1=int(input("enter the first number: "))
num2=int(input("enter the second number: "))
product = num1*num2
print("the product is",product)

enter the first number: 10
enter the second number: 50
the product is 500

In [6]:
# Take Two num and print the division of two number
num1=int(input("enter the first number: "))
num2=int(input("enter the second number: "))
division = num1/num2
print("the division is",division)

enter the first number: 60
enter the second number: 30
the division is 2.0

In [7]:
# Take lenghth and bredth of rectanglur and print area
Lenght = int(input( " enter the lenght of the retangle:"))
bredth = int(input("enter the bredth of the retangle:"))
area = Lenght*bredth
print("the area of the retangle is",area)

 enter the lenght of the retangle:20
enter the bredth of the retangle:10
the area of the retangle is 200

In [12]:
# Take base and height print the area of the triangle
Base = float(input(" Enter the base of the triangle in meters "))
Height = float(input("enter the height of the triangle in meters : "))
Area = 0.5*Height*Base
print("The area of triangle in meter square :", Area)

 Enter the base of the triangle in meters 10
enter the height of the triangle in meters : 5
The area of triangle in meter square : 25.0

In [15]:
# Take the Radius of the circle and print the circumference of the circle
Radius = float(input("Enter the Radius of the circle in meters: "))
Circumference = 2*3.14*Radius
print("The circumference of the circle is; ", circumference)

Enter the Radius of the circle in meters: 10
The circumference of the circle is;  31.4159

In [16]:
# Take the side of the rectangular and print the perimeter
Sides = int(input("Enter the side of the rectangular:"))
perimeter = 4*Sides
print( "The perimeter of the Rectangular is: ", perimeter)

Enter the side of the rectangular:4
The perimeter of the Rectangular is:  16

In [18]:

   # Taken string and print the upper case
   Text = input("enter the text: ")
   print(Text.upper())

enter the text: I am strong
I AM STRONG

In [20]:
# string and print it in lowercase
name = input("enter the name: ")
print(name.lower())

enter the name: I AM WIN
i am win

In [21]:
# take string and print its length
Text = input("enter a string: ")
print( "length of the string : len(text)")

enter a string: python
length of the string : len(text)

In [28]:
# take a string & print it twice in single line
Text = input("enter a name: ")
print(Text * 2)

enter a name: pavitra
pavitrapavitra

In [29]:

# Take the first name and last name seperatly, then print the full name
first_name = input("enter the first name: ")
last_name = input("enter the last name: ")
Full_name =( first_name + " " + last_name)
print(Full_name)

enter the first name: pavitra
enter the last name: Laddi
pavitra Laddi

In [30]:
# Take the tempreture in celisius and convert in to fahrenheit
celsius = float(input( "Enter the temputrure in celsius: "))
fahrenheit = (celsius * 9/5) + 32
print("Tempreture in fahrenheit : ", fahrenheit)

Enter the temputrure in celsius: 40
Tempreture in fahrenheit :  104.0

In [32]:
# Take wiegth in kilogram and convert in to pounds
kilogram = float( input("enter the weight in kilogram: "))
pounds = kilogram * 2.2046
print("Weight in pounds: ", pounds)

enter the weight in kilogram: 5
Weight in pounds:  11.023